@model PizzaCRUD.Models.Ingridient

@{
    ViewData["Title"] = "Usuwanie";
}

<h2>Usuwanie</h2>

<h3>Czy na pewno chcesz usunąć składnik @Model.Name?</h3>
<div>
    @if (ViewBag.Error != null)
    {
        <span class="text-danger">@ViewBag.Error</span>
    }
    <hr/>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
    </dl>

    <form asp-action="Delete">
        <div class="form-actions no-color">
            <input type="submit" value="Usuń" class="btn btn-danger"/> |
            <a asp-action="Index">Powrót do listy składników</a>
        </div>
    </form>
</div>
