@model dynamic

<div class="row" style="margin-top: 50px;">
    <div class="jumbotron">
        <h1>Pizzeria CRUD</h1>
        <a asp-controller="Pizzas" asp-action="Index" class="btn btn-lg btn-warning">Zobacz MENU</a>
        <a asp-controller="Ingridients" asp-action="Index" class="btn btn-lg btn-info">Zarządzaj składnikami</a>
    </div>
</div>
